
/* mypage */
.container {
width: 1633.5px;
height: 600px;
background-color: #ffffff;
display: flex; 
justify-content: center;
margin: auto;

}
.box1 {
width: 506px;
height: 550px;
background-color: #ffffff;
display: flex; 
justify-content: center;
flex-direction: column;
justify-content: space-between;
min-height: calc(100vh - 120px);

}
.box2 {
width: 500px;
height: 550px;
background-color: #F5F5F5;
display: flex; 
justify-content: center;
border-left: 1px solid gray;
border-right: 1px solid gray;
border-bottom: 1px solid gray;
border-radius: 15px;
}
.box3 {
margin-top: 70px;
width: 300px;
height: 250px;
}
.centerprofile {
width: 150px;
height: 150px;
}
.insamal {
margin-top: 40px;
text-align: center;
font-size: 12px;
}
.box4 {
display: flex; 
justify-content: center;
}
.title {
font-size: 30px;
text-align: center;
margin-bottom: 50px;
}
.btn1, .btn2, .btn3, .btn4 {
color: white; /* 글자색을 하얀색으로 설정 */
text-decoration: none; 
background-color: #000000;
width: 150px;
border-radius: 15px;
margin-bottom: 10px;
border-style: solid;
border-width: 1px;
margin-left: auto; 
margin-right: auto;
}
.buttonbox {
text-align: center;
margin-top: 30px;
height: 200px;
justify-content: center;   
}
